{% extends 'tutor/base.html' %} {% block content %} {% if not trial_ended %}
<form method="post">
  {% csrf_token %}
  <textarea name="code" placeholder="Paste your buggy code"></textarea>
  <button type="submit">Ask Ustadji</button>
</form>
{% endif %} {% for code in messages %} {% if code.role == "user" %}
<p>You: {{ code.content }}</p>
{% endif %} {% if code.role == "assistant" %}
<p>Ustadji: {{ code.content }}</p>
{% endif %} {% endfor %}

<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">logout</button>
</form>
{% if trial_ended %}
<p>
  <strong>Ustadji:</strong>Your free trial is over now. I liked helping you
  learn. If you want more help, you can subscribe to keep going. Thank you for
  trying Ustadji.
</p>
{% endif %}
<a href="{% url 'new_conversation' %}">New Conversation</a>
{% endblock %}
